:root{
    font-size: 62.5%;
    --color-sombra: rgb(105, 125, 142);
    --color-primario: #BFD4E5ff;
    --color-secundario: #FE4B47ff;
    --color-fuente: #3A2739ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 100ms;
}

html, body{
    min-width: 365px;
    height: 100%;
    background-color: var(--color-primario);
    font-size: 1.6rem;
    font-family: 'Gabarito', cursive;
}

p, i, h1{
    color: var(--color-fuente);
}

i{
    font-size: 3.2rem;
}

h1{
    font-size: 3.2rem;
}

/* ====== CONTENIDO ====== */

section{
    display: flex;
    align-items: center;
    height: 90%;
}
section.darkmode-switch{
    justify-content: end;
    display: flex;
    align-items: center;
    height: 5rem;
}
.contenedor{
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.darkmode{
    background-color: var(--color-fuente);
    position: relative;
    height: 40px;
    width: 80px;
    margin-top: 5rem;
    margin-right: 3rem;
    border-radius: 35px;
    cursor: pointer;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: var(--color-primario);
    border-radius: 50%;

}
.panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -webkit-box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -moz-box-shadow: 1px 0px 26px 3px var(--color-sombra);
}
.panel p{
    opacity: 0.8;
    transition: 1s ease-in;
}

.panel p.active{
    opacity: 1;
    color: var(--color-secundario);
}

.temporizador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -webkit-box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -moz-box-shadow: 1px 0px 26px 3px var(--color-sombra);
}

.circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secundario);
}

.circulo::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primario);
}

.tiempo{
    position: relative;
    display: flex;
    flex-direction: row;
}

.tiempo p{
    font-size: 5.6rem;
}

.tiempo p:nth-of-type(2){
    position: relative;
    top: -0.5;
    margin-inline: 1rem;
}

.controles{
    transition: 200ms ease ;
    margin-top: 3rem;
}

.controles button{
    transition: 200ms ease;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controles #reset{
    display: none;
}
#darkmode.disabled .toggle{
    transition: 300ms ease;
    right: 40px;
    left: 0px;
}
#darkmode.active .toggle{
    transition: 300ms ease;
    right: 0px;
    left: 40px;
}
