:root{
    font-size: 62.5%;
    --color-primario: #333;
    --color-secundario: #ff4290;
    --color-fuente: whitesmoke;
    --color-sombra: #6f6f6f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{

    height: 100%;
    background-color: var(--color-primario);
    font-size: 1.6rem;
    font-family: 'Gabarito', cursive;
}

p, i, h1{
    color: var(--color-fuente);
}

i{
    font-size: 3.2rem;
}

h1{
    font-size: 3.2rem;
}

/* ====== CONTENIDO ====== */

section{
    display: flex;
    align-items: center;
    height: 100%;
}

.contenedor{
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -webkit-box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -moz-box-shadow: 1px 0px 26px 3px var(--color-sombra);
}
.panel p{
    opacity: 0.8;
    transition: 1s ease-in;
}

.panel p.active{
    opacity: 1;
    color: var(--color-secundario);
}

.temporizador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -webkit-box-shadow: 1px 0px 26px 3px var(--color-sombra);
    -moz-box-shadow: 1px 0px 26px 3px var(--color-sombra);
}

.circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secundario);
}

.circulo::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primario);
}

.tiempo{
    position: relative;
    display: flex;
    flex-direction: row;
}

.tiempo p{
    font-size: 5.6rem;
}

.tiempo p:nth-of-type(2){
    position: relative;
    top: -0.5;
    margin-inline: 1rem;
}

.controles{
    margin-top: 3rem;
}

.controles button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controles #reset{
    display: none;
}